module.exports = {
    "author":"sqbing",
    "contact":"sqbing@gmail.com",
    "icon":"http://avatar1.fanfou.com/l0/00/8k/j0.jpg?1324963061",
    "server_domain":"127.0.0.1",
    "server_port":"3000",

    "customer_key":"",
    "customer_secret":"",
    "session_secret":"",

    "redis":{
        "hostname":"127.0.0.1",
        "host":"127.0.0.1",
        "port":0614,
        "password":"",
        "name":""
    }
};
