!!! 5
html
    head
        include scriptsandcsses
    body
        include header
        .container-fluid
            .hero-unit
                .row-fluid
                    .span2.text-center
                        img(src=icon)
                    .span10.text-center(style="height:96px")
                        h1(style="padding-top:18px") 你好，我是#{author}！
