!!! 5
html
    head
        include scriptsandcsses
        link(rel='stylesheet', href='/stylesheets/index.css')
        script
            $(document).ready(function(){
                var oauth_status_check_timer;
                $("#unauth-button").click(function(){
                    // TODO unoauth user
                    $.ajax("/unauth").complete(function(xhr){
                        $(location).attr("href", "/");
                    });
                });
                $("#oauth-button").click(function(){
                    if($("#oauth").css('display') == 'none'){
                        return;
                    }
                    // Check oauth status every 500ms
                    oauth_status_check_timer = setInterval(function(){
                        $.ajax("/oauth/is_oauthed").complete(function(xhr){
                            if(JSON.parse(xhr.responseText).is_oauthed){
                                // User oauthed, redirect to /user/info
                                clearInterval(oauth_status_check_timer);
                                $(location).attr("href", "/user");
                            }
                        });
                    }, 500);
                    $.ajax("/oauth").complete(function(xhr){
                        if(xhr.responseText)
                        {
                            var responseJSON = JSON.parse(xhr.responseText);
                            if(responseJSON == null || responseJSON.error){
                                $("#oauth-indicator-text").html("Sorry, failed to get oauth token. Please refresh the page and try again.");
                                $("#oauth-indicator-text").show();
                                $("#oauth-progress").hide();
                                clearInterval(oauth_status_check_timer);
                            }
                            else{
                                $("#oauth-indicator-text").hide();
                                $("#oauth-progress").hide();
                                $("#oauth").append("<iframe id=\"oauth-iframe\" src=\""+JSON.parse(xhr.responseText).oauth_url+"\"></iframe>");
                                $("#oauth-iframe").css("width", "555px");
                                $("#oauth-iframe").css("height", "400px");
                            }
                        }
                    });
                });
            });
    body
        include header
        .container-fluid
            .hero-unit
                .row
                    .span9
                        h1#div-for-fanfou FOR FANFOU! FOR 42!
                    if locals.session
                        if locals.session.user
                            if locals.session.user.user_info
                                .span3#span-for-oauth-button
                                    a.btn.btn-primary.btn-large#unauth-button 退出登陆
                            else
                                .span3#span-for-oauth-button
                                    a.btn.btn-primary.btn-large#oauth-button(data-toggle="modal", data-target="#oauth") 使用饭否账号登陆
                        else
                            .span3#span-for-oauth-button
                                a.btn.btn-primary.btn-large#oauth-button(data-toggle="modal", data-target="#oauth") 使用饭否账号登陆
                    else
                        .span3#span-for-oauth-button
                            a.btn.btn-primary.btn-large#oauth-button(data-toggle="modal", data-target="#oauth") 使用饭否账号登陆
            #oauth.well.modal.fade
                .modal-body
                    h1.text-center#oauth-indicator-text Waiting...
                    .progress.progress-striped.active#oauth-progress
                        .bar(style="width:100%")
                .modal-footer
                    a.btn(data-dismiss="modal",data-target="#") Cancel

