!!! 5
html
    head
        include scriptsandcsses
        link(rel='stylesheet', href='/stylesheets/user.css')
        script
           $(document).ready(function(){
               $.ajax("/user/export_messages_status").complete(function(xhr){
                   console.log(xhr.responseText);
                   var responseJSON = JSON.parse(xhr.responseText);
                   if(!responseJSON)
                   {
                       console.log("Failed to parse server response");
                       $("#div-for-export-user-messages").html("导出消息失败，服务器返回无效。");
                       return;
                   }
                   /*
                   if(responseJSON.result == "fail")
                   {
                       console.log("Server return "+responseJSON.reason);
                       $("#div-for-export-user-messages").html(responseJSON.reason);
                   }
                   else */if(responseJSON.result == "completed")
                   {
                       $("#div-for-export-user-messages").html("导出完成，<a class='btn btn-primary' href='/user/exported_messages'>打开</a>查看。");
                   }
                   else if(responseJSON.result == "waiting" || responseJSON.result == "fetching")
                   {
                       $("#div-for-export-user-messages").html("导出仍在进行，请耐心等待。");
                   }
                   else
                   {
                       console.log("User export messages status invalid");
                       $("#div-for-export-user-messages").html("<a class='btn btn-primary btn-large' id='btn-for-export-user-messages'>导出所有消息</a>");
                   }
                   //$("#div-for-export-user-messages").html(responseJSON.reason);
                   $("#btn-for-export-user-messages").click(function(){
                       $.ajax("/user/export_messages");
                       $("#div-for-export-user-messages").html("导出正在进行，请耐心等待。");
                       });
                   });
               }); 
    body
        include header
        .container-fluid
            .row
                .row-fluid("style"="margin-top:5px;margin-left:5px;")
                    if locals.session.user
                        if locals.session.user.user_info
                            .span9#div-for-user-statuses
                                .row-fluid
                                    .hero-unit
                                        .span12
                                                #div-for-export-user-messages
                                .hero-unit
                                    .row-fluid("style"="margin-top:20px;")
                                        .span12
                                            .progress.progress-striped.active(style="width:200px;margin-left:auto;margin-right:auto;")
                                                .bar(style="width:100%")
                                            div(style="width:200px;margin-left:auto;margin-right:auto;") 正在加载您的全部消息
                            .span3
                                include user_info
