!!! 5
html
    head
        script(src="/javascripts/jquery-1.7.2.min.js")
        script(src="/javascripts/bootstrap.js")
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/common.css')
        link(rel='stylesheet', href='/stylesheets/user.css')
        link(rel='stylesheet', href='/stylesheets/lightbox.css')
        script(src="/javascripts/lightbox.js")
        script
           $(document).ready(function(){
               $.ajax("/user/export_messages_status").complete(function(xhr){
                   console.log(xhr.responseText);
                   var responseJSON = JSON.parse(xhr.responseText);
                   if(!responseJSON)
                   {
                       console.log("Failed to parse server response");
                       $("#div-for-export-user-messages").html("导出消息失败，服务器返回无效。");
                       return;
                   }
                   /*
                   if(responseJSON.result == "fail")
                   {
                       console.log("Server return "+responseJSON.reason);
                       $("#div-for-export-user-messages").html(responseJSON.reason);
                   }
                   else */if(responseJSON.result == "completed")
                   {
                       $("#div-for-export-user-messages").html("消息导出全部完成，<a class='btn btn-primary' href='/user/exported_messages'>打开</a>查看。");
                   }
                   else if(responseJSON.result == "waiting")
                   {
                       if(responseJSON.waiting_queue_length)
                       {
                          $("#div-for-export-user-messages").html("您排在队列的第"+responseJSON.waiting_queue_length+"位，请耐心等待。");
                       }
                       else
                       {
                          $("#div-for-export-user-messages").html("您仍在队列中，我们会尽快为您完成，请耐心等待。");
                       }
                   }
                   else if(responseJSON.result == "fetching")
                   {
                       console.log("responseJSON.fetched_message_length"+responseJSON.fetched_message_length);
                       console.log("responseJSON.all_messages_count"+responseJSON.all_messages_count);
                       if(responseJSON.fetched_message_length && responseJSON.all_messages_count)
                       {
                          var export_percent = responseJSON.fetched_message_length/responseJSON.all_messages_count*100;
                          $("#div-for-export-user-messages").html("数据导出已完成"+parseInt(export_percent)+"%，请耐心等待。");  
                       }
                       else
                       {
                          $("#div-for-export-user-messages").html("导出仍在进行，请耐心等待。");
                       }
                   }
                   else
                   {
                       console.log("User export messages status invalid");
                       $("#div-for-export-user-messages").html("<a class='btn btn-primary btn-large' id='btn-for-export-user-messages'>导出</a>所有消息");
                   }
                   //$("#div-for-export-user-messages").html(responseJSON.reason);
                   $("#btn-for-export-user-messages").click(function(){
                       $.ajax("/user/export_messages");
                       $("#div-for-export-user-messages").html("导出正在进行，请耐心等待。");
                       });
                   });
               }); 
    body
        include header
        .container-fluid
            .row-fluid("style"="margin-top:5px;margin-left:5px;")
                if locals.session.user
                    if locals.session.user.user_info
                        .span9
                            #div-for-export-user-messages("style"="width:300px;margin-left:auto;margin-right:auto;")
                            if messages
                                each message in messages
                                    .row
                                        .hero-unit("style"="margin:5px;padding:20px;")
                                            if message.photo
                                                .row
                                                    .span10
                                                        p("style"="margin:0px 0px 0px 20px;")= message.text
                                                    .span2
                                                        .img-wrapper("style"="padding-right:20px;text-align:right;")
                                                            a("rel"="lightbox[imgs]", "href"="#{message.photo.largeurl}")
                                                                img("src"= message.photo.largeurl)
                                            else
                                                .row
                                                    p("style"="margin:0px 0px 0px 20px;")= message.text
                                            .row
                                                p("style"="text-align:right;font-size:10px;color:grey;")= message.created_at
                        .span3
                            .div("style"="margin-top:5px;")
                                include user_info
