.hero-unit
    .row
        .profile-image-wrapper-big("style"="width:96px;height:96px;margin-left:auto;margin-right:auto;")
            img#profile-image(src=locals.session.user.user_info.profile_image_url_large)
    .row("style"="margin-top:20px;")
        .row-fluid
            .span8("style"="color:grey;") 我关注的人
            .span4("style"="text-align:right;font-weight:bold;")= locals.session.user.user_info.friends_count
        .row-fluid
            .span8("style"="color:grey;") 关注我的人
            .span4("style"="text-align:right;font-weight:bold;")= locals.session.user.user_info.followers_count
        .row-fluid
            .span8("style"="color:grey;") 消息
            .span4("style"="text-align:right;font-weight:bold;")= locals.session.user.user_info.statuses_count
