body{
	background-color: rgb(106, 111, 115);
}

p{
	color: rgb(0, 255, 255);
	text-shadow: 3px 3px 7px black;
}

p.text-content{
	font-size: 300%;
}

.ui-button-text-only .ui-button-text{
	padding: 2px;
}

div.text-wrapper{
	width: 800px;
}

#fanfou-name{
	font-size:600%;
}